.title {
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 5px;
}

.subtitle, .subtitle2, .tituloComents {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 35px 5px;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: 29px;
}
.subtitle2 {
    font-size: 23px;
}

.tituloComents {
    background-color: rgba(179, 222, 118, 0.407);
}

.tituloComentsText {
    font-size: 25px;
    text-align: center;
    margin: 10px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.comentarioPublicado {
    --c: rgb(215, 215, 215); /* the border color */
    --b: 1px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
  }
  .comentarioPublicado:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
  }


.subtitle3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    margin: 18px 5px;
    display: flex;
    justify-content: center;
    background-color: rgba(179, 222, 118, 0.407);
}

/* 
Alternativa color (contraste)
rgba(255, 186, 136, 0.407);
*/

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 3px;
}

.footer {
    padding: 10px;
    background-color: rgb(226, 226, 226);
    font-size: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
.imagesIndex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
*/


.div1, .div2, .div3, .div4 {
    display: flex;
    text-align: center;
    align-items: center;
}

.image1, .image2, .image3, .image4 {
    width: 450px;
    margin: 30px 100px;
}

.subtitleIndex:hover {
    transform: scale(1.1);
    transition-duration: 3s;
}


.subtitleIndex, .subtitleIndex2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin: 35px 5px;
    max-width: 50%;
    margin: 10px auto;

}


.row {
    margin: 40px;
}

.pagination {
    margin-bottom: 40px;
}

.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

#nombre, #apellido, #email, #password {
    margin: 30px;
}

.sesionIniciada {
    margin: 5px;
}

.sesionIniciada2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}


#comentariosConteiner {
    margin: 25px 20px 300px 20px;
}
